<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="Icon" href="../img/car-suv.svg">
    <title>Registrarse</title>
</head>

<body>
    <div class="contenedor">
        <div class="contenido">
            <form class="formulario">
                <h1>Registrate con nosotros!</h1>
                <div>
                    <p>Por favor rellena los campos que se te piden.</p>
                </div>
                <section class="input">
                    <label for="nombres">Nombres</label>
                    <input type="text" name="nombres" id="nombres">
                </section>
                <br>
                <section class="input">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos">
                </section>
                <br>
                <section class="input">
                <label for="correo">Correo</label>
                <input type="email" name="correo" id="correo">
                </section>
                <br>
                <section class="input">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña">
                </section>
                <br>
                <section class="input">
                <label for="género">Género</label>
                <input type="text" name="género" id="género">
                </section>
                <br>
                <section class="button">
                <input type="submit" value="Enviar">
                </section>
            </form>
        </div>
    </div>
</body>

</html>