.services {
    background-color: #fff;
}

.services__titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.services__contenedor {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.services__card {
    position: relative;
    border-radius: 10px;
    padding: 35px 55px;
    transition: 0.3s;
    text-align: center;
}

.services__card:hover {
    background-color: #5c5151 ;
}

.services__favorito {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 44px;
    height: 44px;
    border-radius: 10px 0 10px 0;
    background-color: #fff;
}


.services_carta-contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services__boton {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 25px;
    background-color:rgba(38, 35, 35, 0.846);
    color: #fff;
}

@media screen and (width <= 720px) {
    .services__contenedor {
        grid-template-columns: repeat(1, 1fr);
    }    

    .services {
        margin: 0 auto;
        padding-inline: 10px;
    }
}